@import "../../common.scss";
app-connection {
  overflow-x: hidden;
  .list-box {
    .fa {
      color: $link-black;
      &:hover {
        opacity: .8;
      }
    }
    margin-bottom: 2rem;
    border-radius: .25rem;
    .user-item-header {
      color: #999;
      cursor: default !important;
      padding: .75rem 1rem !important;
      &:hover {
        transform: translateY(0) scale(1) !important;
        box-shadow: none !important;
      }
    }
    .user-item {
      padding: 1rem .5rem;
      font-size: 1.1rem;
      background-color: #fff;
      border-bottom: 1px solid rgba(204, 204, 204, 0.35);
      transition: all .25s;
      cursor: pointer;
      &:hover {
        transform: translateY(-0.1rem) scale(1.01);
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
      }
      &:first-child {
        border-radius: .25rem .25rem 0 0;
      }
      &:last-child {
        border-bottom: none;
        border-radius: 0 0 .25rem .25rem;
      }
    }
  }
}
