chip {
  display: inline-block;
  cursor: pointer;
  padding: .1rem .5rem; // background-color: #e84737;
  color: #000;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  user-select: none;
  transition: box-shadow .2s;
  &:active {}
  span {}
}
