*.iws
/out
.idea_modules
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.exe
*.dll
*.so
*.dylib
*.test
*.out
.glide
.idea
*.bak
/tests/bbs_b/cli
/tests/bbs_b/cxod
/tests/bbs_b/main
/tests/bbs_a/cli
/tests/bbs_a/cxod
/tests/bbs_a/main
.DS_Store
/extern/gui/static/node_modules
bbsnode
cli
cxod
