<nav class="navbar navbar-expand-lg fixed-top navbar-dark" [ngClass]="navBarBg">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" title="BBS">
    <img src="../assets/logo.svg" width="170.74" height="30" alt="bbs">
  </a>
  <div class="overlay" *ngIf="showLoginBox" (click)="userAction($event)"></div>
  <div class="login-register-box" *ngIf="showLoginBox">
    <div class="box">
      <div class="header">
        <a href="javascript:void(0);" class="button login-button" (click)="switchTab('login')">
          <div class="active" *ngIf="loginBox"></div>
          <span>Login</span>
        </a>
        <a href="javascript:void(0);" class="button register-button" (click)="switchTab('register')">
          <div class="active" *ngIf="registerBox"></div>
          <span>Create</span>
        </a>
      </div>
      <div class="content">
        <div class="login-box" *ngIf="loginBox" [@tabLeft]>
          <h6>Login to your account</h6>
          <div class="form-box">
            <input type="text" class="text-input input-border-bottom" (keyup)="onKeyUp($event)" [focus]="loginBox" [(ngModel)]="alias"
              placeholder="Input Your Alias">
            <div class="auto-alias" *ngIf="showAilas">
              <ul>
                <li *ngFor="let user of autoAilas" (click)="selectAlias($event)">
                  <a #aliasItem href="javascript:void(0);">{{user?.alias}}</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="text-right">
            <button class="button" style="background-color:#1abc9c;color:#fff;" (click)="login($event)">Submit</button>
          </p>
        </div>
        <div class="register-box" *ngIf="registerBox" [@tabRight]>
          <h6>Create an identity</h6>
          <div class="form-box">
            <input type="text" class="text-input input-border-bottom" (keyup.enter)="register($event)" [focus]="registerBox" [(ngModel)]="alias"
              placeholder="Input Your Alias">
          </div>
          <p class="text-right">
            <button class="button" style="background-color:#e67e22;color:#fff;" (click)="register($event)">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="btn btn-light" href="#" role="button">Login</a>
    <a class="use-status-box small-status-box" href="javascript:void(0);" (click)="userAction($event)">
      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      <div class="pop-box" *ngIf="userMenu">
        <ul>
          <li>
            <a href="javascript:void(0);" (click)="logout($event)">Log Out</a>
          </li>
        </ul>
      </div>
    </a> -->
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Boards
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlist" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/conn" routerLinkActive="active">Connections</a>
      </li>
    </ul>
    <div class="navbar-text navbar-user-box">
      <a class="alias" href="javascript:void(0);" (click)="openLogin($event,login,create)">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{userName}}</span>
      </a>
      <!-- <span class="">Logout</span> -->
    </div>
  </div>

  <!-- <a class="use-status-box big-status-box" href="javascript:void(0);" (click)="userAction($event)">
    <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>{{userName}}

    <div class="pop-box" *ngIf="userMenu">
      <ul>
        <li>
          <a href="javascript:void(0);" (click)="logout($event)">Log Out</a>
        </li>
      </ul>
    </div>
  </a> -->
  <div class="nav-overlay"></div>
  <div class="overlay" *ngIf="userMenu" (click)="userAction($event)">
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Create User Dialog -->
<ng-template #create let-c="close">
  <div class="pop-dialog register-box" [@bounceIn]>
    <div class="modal-header">
      <h4 class="modal-title">Create an Identity </h4>
    </div>
    <div class="modal-body create-box">
      <form [formGroup]="createForm">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">Alias</div>
          <input type="text" class="form-control" id="alias" formControlName="alias">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">Seed</div>
          <input type="text" class="form-control" id="seed" formControlName="seed">
          <div class="input-group-addon" (click)="newSeed($event)">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon">Password</div>
          <input type="password" class="form-control" id="registerPass" #registerPass formControlName="password">
          <div class="input-group-addon operation" (click)="isShowPassword($event,registerPass)">
            <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-lg btn-block close-btn" (click)="c(false)">Close</button>
      <button type="button" class="btn btn-lg btn-block create-btn" (click)="c(true)" [disabled]="!createForm.valid">Create</button>
    </div>
  </div>
</ng-template>

<!-- Login Dialog -->
<ng-template #login let-c="close">
  <div class="pop-dialog register-box" [@bounceIn]>
    <div class="modal-header">
      <h4 class="modal-title">Set the active identity</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="loginForm">
        <select-list *ngIf="userList?.length > 0" [list]="userList" formControlName="user"></select-list>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" *ngIf="loginForm.get('user').value">
          <div class="input-group-addon">Password</div>
          <input type="password" class="form-control" id="loginPass" #loginPass formControlName="pass">
          <div class="input-group-addon operation" (click)="isShowPassword($event,loginPass)">
            <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"></i>
          </div>
        </div>
      </form>
      <div class="hint-text" (click)="c('create')">
        <span>You can create an identity</span>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn close-btn" (click)="c(false)">Close</button>
      <button type="button" class="btn create-btn" (click)="c(true)">Login</button>
    </div>
  </div>
</ng-template>



<ng-template #page let-c="close">
  <div class="pop-dialog" [@bounceIn]>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Follow Page</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c(false)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center follow-hint" *ngIf="userFollow?.following?.length <= 0 && userFollow?.avoiding?.length <= 0">No Found Following/Avoiding User</p>
      <div *ngIf="userFollow?.following?.length > 0">
        <h6 class="follow-title">Following</h6>
        <div class="row">
          <div class="col-md-3 text-center" *ngFor="let following of userFollow?.following">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            <p class="single-line" title="{{following.user_public_key}}">{{following.user_public_key}}</p>
          </div>
        </div>

      </div>
      <div *ngIf="userFollow?.avoiding?.length > 0">
        <h6 class="follow-title">Avoiding</h6>
        <div class="row">
          <div class="col-md-3 text-center" *ngFor="let avoiding of userFollow?.avoiding">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            <p class="single-line" title="{{avoiding.user_public_key}}">{{avoiding.user_public_key}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
