.navbar {
  .test-toggler-icon {
    color: #fff;
  }
  .nav-node {
    color: #df0;
    padding: 0;
  }
  .nav-name {
    span {
      margin: 0 5px;
    }
    i {
      margin-right: 5px;
    }
  }
}

.app-pop {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1080;
}

.top-btn {
  position: fixed;
  z-index: 99;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  .top {
    width: 0;
    height: 0;
    border-left: .5em solid transparent;
    border-right: .5em solid transparent;
    border-bottom: 1em solid #fff;
    margin: 0 auto;
    border-bottom: 1em solid #fff;
  }
}