<div class="user-box">
  <div class="container">
    <div class="card">
      <div class="card-header">
        User Info
      </div>
      <div class="card-block">
        <p class="item"><i class="fa fa-user" aria-hidden="true"></i><strong>Name:</strong><span class="name text-muted" (click)="copy($event)">{{user?.alias}}</span>
          <a href="javascript:void(0);" (click)="switchUser(switch)">switch</a>
        </p>
        <!-- <p class="item"><i class="fa fa-suitcase" aria-hidden="true"></i><strong>Master:</strong><span class="master text-muted">{{user?.master}}</span></p> -->
        <!-- <p class="item break-line">
          <i class="fa fa-key" aria-hidden="true"></i><strong>Key:</strong><span class="key text-muted">{{user?.public_key}}</span>
          <i class="fa fa-files-o clip" title="copy" appClip [clipText]="user?.public_key" (onClip)="copy($event)"></i>
        </p> -->
      </div>
    </div>
  </div>
</div>
<ng-template #switch let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Switch Users</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="user">Choose to move</label>
      <select class="form-control" id="user" [(ngModel)]="switchUserKey" placeholder="Choose to move">
        <option *ngFor="let user of switchUserList" value="{{user.public_key}}">{{user.alias}}</option>
    </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-success" (click)="c(true)">switch</button>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="edit()">Close</button>
    <button type="button" class="btn btn-success" (click)="edit()">Edit</button>
  </div>
</ng-template>
