app-fixed-button {
  position: fixed;
  display: flex;
  cursor: pointer;
  bottom: 15%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d23f31;
  box-shadow: 0 0.3rem 0.4rem hsla(0, 0%, 0%, 0.3);
  &:hover {
    background-color: #d4756c;
  }
  .fa {
    margin: auto !important;
    font-size: 1.5em;
    color: #fff;
  }
}
