app-userlist {
  .list-box {
    border-radius: .25rem;
    .user-item {
      padding: 1rem .5rem;
      font-size: 1.1rem;
      background-color: #fff;
      border-bottom: 1px solid rgba(204, 204, 204, 0.35);
      &:first-child {
        border-radius: .25rem .25rem 0 0;
      }
      &:last-child {
        border-bottom: none;
        border-radius: 0 0 .25rem .25rem;
      }
    }
  }
}
