.user-list {}

.user-list table .alias {
  min-width: 10px;
}

.user-list table .master {
  min-width: 10px;
}

.user-list table .key {
  min-width: 10px;
}
.user-list table .edit,
.user-list table .del {
  width: 20px;
  cursor: pointer;
  text-align: center;
}
.user-list table .edit:hover,
.user-list table .del:hover {
  color: red;
}
