.connection .btn-group {
  float: right;
}
.connection .index {
  width: 1rem;
  text-align: center;
}
.connection .del {
  width: 1rem;
  text-align: center;
  cursor: pointer;
}

.connection .del:hover {
  color: red;
}