<div class="container">
  <div class="page-header">
    <p class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary" (click)="openAdd(form)">New Connection</button>
    </p>
  </div>
  <div class="list-box">
    <div class="row user-item user-item-header">
      <div class="col-10">
        Addres
      </div>
      <div class="col-2 text-center">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row user-item" *ngFor="let item of list;let i =index;">
      <div class="col-10">
        {{item?.address}}
      </div>
      <div class="col-2 text-center">
        <a href="javascript:void(0);" class="del" (click)="remove(item?.address)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <h3 class="not-found" *ngIf="list?.length <= 0">
    <p><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></p>
    <p class="hint-text"> No Connections Found</p>
  </h3>
</div>

<ng-template #form let-c="close" let-d="dismiss">
  <div class="modal-box" [@bounceIn]>
    <div class="modal-header">
      <h4 class="modal-title">New Connection</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <input [(ngModel)]="addUrl" type="text" class="form-control" placeholder="E.g: [::1]:7452" aria-describedby="basic-addon1">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
      <button type="button" class="btn btn-success" (click)="c(true)">submit</button>
    </div>
  </div>
</ng-template>
