@import "../../common.scss";
app-boardslist {
  display: block;
  width: 100%;
  .container {
    // board item style
    .card {
      position: relative;
      cursor: pointer;
      margin: .75rem 0;
      transition: .15s;
      overflow: hidden;
      @include boxShaow;
      &:active {
        box-shadow: none;
      }
      .remote-tag {
        position: absolute;
        width: 5rem;
        bottom: .4rem;
        left: -1rem;
        padding-right: 8px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: red;
        box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2), 0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.2);
        transform: rotate(35deg);
        z-index: 99;
      }
      .card-block {
        padding: .75rem;
        .action {
          font-size: 1rem;
          a {
            color: $link-black;
            outline: none;
            &:hover {
              opacity: .5;
            }
          }
        }
        .description,
        .created {
          clear: both;
          color: #999;
        }
        .created {
          small {
            text-decoration: underline;
          }
        }
        p {
          margin: 0;
        }
      }
      .card-top {
        border-bottom: 1px solid $light-solid-color;
        padding-bottom: .25rem;
        margin-bottom: 1rem;
      }
      .title {
        max-width: 5rem;
        color: #000;
        font-weight: 500;
        display: inline-block;
      }
      .time {
        vertical-align: super;
        font-size: .75rem; // text-decoration: underline;
        color: #999;
        &::before {
          content: '\00B7';
          padding-right: 5px;
          font-size: 1rem;
          font-weight: bolder;
          text-decoration: none;
        }
      }
    }
  }
  .btn {
    margin: 0 .5rem;
  }
}

.add-li {
  cursor: pointer;
  list-style: none;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}

.address-close {
  color: red;
  cursor: pointer;
}

.info-card {
  .card-header {
    border-bottom: none;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  }
}

.thread-item {
  padding: 1rem;
  font-weight: bold;
  border-bottom: .1rem solid rgba(204, 204, 204, 0.25);
  &:last-child {
    border-bottom: none;
  }
  .fa-files-o {
    cursor: pointer;
    color: #65b900;
    &:hover {
      color: green;
    }
  }
  .info-address-li {
    margin-left: 1rem;
  }
  span {
    font-size: .9rem;
    font-weight: normal;
  }
}
