<div class='boards'>
  <div class='container-fluid'>
    <div class="page-header">
      <h1>All Boards</h1>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Board</th>
          <th>Name</th>
          <th>Description</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boards">
          <td class="url"><a href="javascript:void(0);" (click)="openThreads($event,board.public_key,board.url)">{{board.url}}</a></td>
          <td class="title" title="{{board.name}}">{{board.name}}</td>
          <td class="description" title="{{board.description}}">{{board.description}}</td>
          <td class="created">{{board.created / 1000000 | date: 'short'}}</td>
        </tr>

      </tbody>

    </table>
    <h3 class="boardNot" *ngIf="boards?.length == 0">Not Found Boards</h3>

    <!--<div *ngFor="let board of boards" class="item" (click)="openThreads($event,board.public_key)">
      <div class="content">
        <h3 class="name">{{board.name}}</h3>
        <div class="description">{{board.description}}</div>
        <div class="created">{{board.created / 1000000 | date: 'medium'}}</div>
      </div>
    </div>-->
  </div>
</div>
