app-boardslist {
  display: block;
  width: 100%; // width: 100vw;
  .btn {
    margin: 0 .5rem;
  }
}
.info-address-li {
  margin-left: 4rem;
}
.add-li {
  cursor: pointer;
  list-style: none;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}
.address-close {
  color: red;
  cursor: pointer;
}