<div class="btn-box">
  <p class="container d-flex justify-content-end"><button type="button" class="btn btn-sm btn-danger" (click)="subscribe($event,subscribeBox)">Subscribe</button>
    <button [class.disabled]="!isRoot" type="button" class="btn btn-sm btn-primary" (click)="openAdd(add)">New Board</button>
  </p>
</div>
<div class='boards'>
  <div class='container'>
    <div class="container">
      <table class="table table_fixed table-hover">
        <thead>
          <tr>
            <th scope="col" width="55%">Board</th>
            <th scope="col" width="30%" (click)="setSort()" class="sortBtn">Created<i class="fa  fa-sort"></i></th>
            <th scope="col" width="15%" class="more"><i class="fa fa-ellipsis-h"></i></th>
          </tr>
        </thead>
        <tbody>
          <!--trackBy:board?.public_key-->
          <tr *ngFor="let board of (boards | orderBy: sort);let i = index;" (click)="openThreads($event,board?.public_key)">
            <td class="break-line" title="{{board?.name}} {{board?.description}}">
              <h6 class="single-line">{{board?.name}}</h6>
              <p class="text-muted single-line small-text">{{board?.description}}</p>
            </td>
            <td>
              <small class="text-muted">{{board?.created / 1000000 | date: 'short'}}</small>
            </td>
            <td class="more">
              <a href="javascript:void(0);" (click)="unSubscribe($event,board?.public_key)"><i class="fa" [class.fa-star-o]="!board?.ui_options?.subscribe" [class.fa-star]="board?.ui_options?.subscribe" aria-hidden="true" aria-label="subscribe"></i></a>
              <a href="javascript:void(0);" (click)="openInfo($event,board,info)"><i class="fa fa-info-circle"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <h5 class="not-found" *ngIf="boards?.length == 0">Not Found Boards</h5>
    </div>
  </div>

  <!-- Subscribe Box-->
  <ng-template #subscribeBox let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Subscribe</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="subscribeForm" novalidate>
        <div class="form-group">
          <label for="subscribeAddress">Address</label>
          <input type="text" class="form-control" placeholder="address" id="subscribeAddress" formControlName="address">
        </div>
        <div class="form-group">
          <label for="subscribeBoardKey">Board Public Key</label>
          <input type="text" class="form-control" placeholder="board Key" id="subscribeBoardKey" formControlName="board">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
      <button type="button" class="btn btn-secondary" (click)="c(true)">submit</button>
    </div>
  </ng-template>

  <!--New Board-->
  <ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">New Board</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addForm" novalidate>
        <div class="form-group">
          <label for="name">Board name</label>
          <input type="text" class="form-control" placeholder="name" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Board description</label>
          <textarea class="form-control" rows="3" id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="seed">Board seed</label>
          <input type="text" class="form-control" placeholder="seed" id="seed" formControlName="seed">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
      <button type="button" class="btn btn-secondary" (click)="c(true)">submit</button>
    </div>
  </ng-template>


  <!--Board Info-->
  <ng-template #info let-c="close" let-d="dismiss">
    <div class="card">
      <div class="card-header">
        Board Info
      </div>
      <div class="card-block">
        <p class="thread-item">Name: <span>{{tmpBoard?.name}}</span></p>
        <p class="thread-item">Description: <span>{{tmpBoard?.description}}</span></p>
        <p class="thread-item">Public Key: <span>{{tmpBoard?.public_key}}<i class="fa fa-files-o clip" title="copy" appClip [clipText]="tmpBoard?.public_key" (onClip)="common.copy($event)"></i></span></p>
        <p class="thread-item">Url: <span>{{tmpBoard?.url}}</span></p>
        <p class="thread-item">Created: <span>{{tmpBoard?.created / 1000000 | date: 'short'}}</span></p>
      </div>
    </div>
  </ng-template>
