boards-list {
  display: block;
  width: 100%;
}


/*.container-fluid {
  padding: 0;
}*/
.boards .page-header {
  border-bottom: none;
}
.boards .page-header >h1 {
  text-align: center;
  color: red;
}

.boards .boardNot {
  width: 100%;
  text-align: center;
}

table>thead>tr {
  background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
}

/*table>tbody>tr {
  border-bottom: 1px solid #ccc;
}*/

table>tbody>tr>td {
  /*cursor: pointer;*/
  vertical-align: middle !important;
}

table .url {
  max-width: 90px;
}
table .url > a {
  text-decoration: underline;
}
table .url > a:hover {
  color: red;
}

table .description,
table .title {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table .created {
  width: 200px;
  text-align: center;
}
