<div class="threads">
  <div class="container-fluid">
    <!--<ol class="breadcrumb">
      <li><a outerLink="/">All Board</a></li>
      <li><a outerLink="/">Home</a></li>
    </ol>-->
    <div class="page-header">
      <h1>All Threads</h1>
    </div>
    <p class="btn-group"><button type="button" class="btn btn-outline-primary" (click)="openAdd(content)">New Thread</button></p>

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Thread</th>
          <th>Board</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thread of threads">
          <td class="name" title="{{thread.name}}">{{thread.name}}</td>
          <td class="board" title="{{url}}"><a href="javascript:void(0);" (click)="open(thread?.master_board,thread?.ref)">{{url}}</a></td>
          <td class="description" title="{{thread.description}}">{{thread.description}}</td>
        </tr>
      </tbody>
    </table>
    <h3 class="boardNot" *ngIf="threads?.length == 0">Not Found Threads</h3>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Thread</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" novalidate>
      <div class="form-group">
        <label for="name">Thread name</label>
        <input type="text" class="form-control" placeholder="name" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="description">Thread description</label>
        <input type="text" class="form-control" placeholder="description" id="description" formControlName="description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-secondary" (click)="c(true)">submit</button>
  </div>
</ng-template>
