<div class="threads">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        Board Details
      </div>
      <div class="card-block">
        <p class="card-text">Board Name:{{board?.name}}</p>
        <p class="card-text">Board Description:{{board?.description}}</p>
        <p class="card-text d-flex justify-content-end">
          <button type="button" [class.disabled]="!isRoot" class="btn btn-primary" (click)="openAdd(content)">New Thread</button>
        </p>
      </div>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Thread</th>
          <!--<th>Board</th>-->
          <th>Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thread of threads" (click)="open(thread?.master_board,thread?.ref)">
          <td class="name" title="{{thread.name}}"><span class="tag" [hidden]="!(thread.master_board != board.public_key)"><i class="fa fa-clone"></i>(Imported)</span>{{thread.name}}</td>
          <!--<td class="board" title="{{url}}"><a href="javascript:void(0);" >{{board.url}}</a></td>-->
          <td class="description" title="{{thread.description}}">{{thread.description}}</td>
          <td class="transfer" (click)="openImport($event,thread.ref,importBox)"><i title="Import Thread" class="fa fa-exchange"></i></td>
          <td class="info" title="Thread Info"><a href="javascript:void(0);" (click)="openInfo($event,thread,infoBox)"><i class="fa fa-info-circle"></i></a></td>
        </tr>
      </tbody>
    </table>
    <h3 class="not-found" *ngIf="threads?.length == 0">Not Found Threads</h3>
  </div>
</div>




<!--Info Box-->
<ng-template #infoBox let-c="close" let-d="dismiss">
  <div class="card">
    <div class="card-header">
      Thread Info
    </div>
    <div class="card-block">
      <p class="thread-item">Name: <span>{{tmpThread.name}}</span></p>
      <p class="thread-item">Description: <span>{{tmpThread.description}}</span></p>
      <p class="thread-item">Master Board: <span>{{tmpThread.master_board}}</span></p>
      <p class="thread-item">Ref: <span>{{tmpThread.ref}}</span></p>
    </div>
  </div>
</ng-template>

<!--Add Thread-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Thread</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" novalidate>
      <div class="form-group">
        <label for="name">Thread name</label>
        <input type="text" class="form-control" placeholder="name" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="description">Thread description</label>
        <input type="text" class="form-control" placeholder="description" id="description" formControlName="description">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-secondary" (click)="c(true)">submit</button>
  </div>
</ng-template>

<!--Import Box-->
<ng-template #importBox let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Import Thread</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="toBoard">Choose to import</label>
      <select class="form-control" id="toBoard" [(ngModel)]="importBoardKey" placeholder="Choose to move">
        <option *ngFor="let board of importBoards" value="{{board.public_key}}">{{board.name}}</option>
    </select>
      <!--<input type="text" class="form-control" placeholder="toBoard" id="toBoard">-->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-secondary" (click)="c(true)">submit</button>
  </div>
</ng-template>
