<div class="threads">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-5">{{board?.name}}</h1>
      <p class="lead break-line">{{board?.description}}</p>
      <hr class="my-4">
      <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
      <p class="lead text-right">
        <a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button" (click)="openAdd(content)">New Thread</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="card" (click)="open(thread?.reference)" *ngFor="let thread of (threads | orderBy: sort);trackBy: trackThreads" [@flyInOut]>
      <div class="card-body">
        <h5>{{thread.title}}</h5>
        <p class="margin-0 text-muted">{{thread?.body}}</p>
        <p class="margin-0 text-right created underline"><small>{{thread?.created / 1000000 | date: 'medium'}}</small></p>
      </div>
    </div>
    <!-- <table class="table table_fixed table-hover">
      <thead>
        <tr>
          <th scope="col" width="85%">Thread</th>
          <th scope="col" width="15%" class="more"><i class="fa fa-ellipsis-h"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thread of threads;" (click)="open(thread?.master_board,thread?.ref)">
          <td class="break-line" title="{{board?.name}} {{board?.description}}">
            <h5 class="single-line">
              <span class="badge badge-pill badge-primary" *ngIf="thread.master_board != board.public_key">Imported</span>{{thread.name}}
            </h5>
            <small class="text-muted">
              {{thread.description}}
              </small>
          </td>
          <td class="more">
            <a href="javascript:void(0);" (click)="openImport($event,thread.ref,importBox)"><i title="Import Thread" class="fa fa-exchange"></i></a>
            <a href="javascript:void(0);" (click)="openInfo($event,thread,infoBox)"><i class="fa fa-info-circle"></i></a>
          </td>
        </tr>
      </tbody>
    </table> -->
    <h5 class="not-found" *ngIf="threads?.length == 0">No Threads Found</h5>
  </div>
</div>




<!--Info Box-->
<ng-template #infoBox let-c="close" let-d="dismiss">
  <div class="card">
    <div class="card-header">
      Thread Info
    </div>
    <div class="card-block">
      <p class="thread-item">Name: <span>{{tmpThread.name}}</span></p>
      <p class="thread-item">Description: <span>{{tmpThread.description}}</span></p>
      <p class="thread-item">Master Board: <span>{{tmpThread.master_board}}<i class="fa fa-files-o clip" title="copy" appClip [clipText]="tmpThread.master_board" (onClip)="common.copy($event)"></i></span></p>
      <p class="thread-item">Ref: <span>{{tmpThread.ref}}<i class="fa fa-files-o clip" title="copy" appClip [clipText]="tmpThread.ref" (onClip)="common.copy($event)"></i></span></p>
    </div>
  </div>
</ng-template>

<!--Add Thread-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Thread</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addForm" novalidate>
      <div class="form-group">
        <label for="title">Thread name</label>
        <input type="text" class="form-control" placeholder="Title" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="body">Thread Body</label>
        <textarea class="form-control" rows="3" id="body" formControlName="body"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-success" (click)="c(true)">submit</button>
  </div>
</ng-template>

<!--Import Box-->
<ng-template #importBox let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Import Thread</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="toBoard">Destination board</label>
      <select class="form-control" id="toBoard" [(ngModel)]="importBoardKey" placeholder="Choose to move">
        <option *ngFor="let board of importBoards" value="{{board.public_key}}">{{board.name}}</option>
    </select>
      <!--<input type="text" class="form-control" placeholder="toBoard" id="toBoard">-->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-success" (click)="c(true)">submit</button>
  </div>
</ng-template>
