threads {
  width: 100%;
}

.threads {
  width: 100%;
}
.threads .item {
  display: block;
  width: 100%;
  min-height: 200px;
  text-decoration: none;
  /*border-top: .1rem solid #ccc;*/
  border-bottom: .1rem solid #ccc;
  cursor: pointer;
}
.threads .item .description {
  color: #999;
}