app-threadpage {
  .card {
    .card-block {
      .content,
      .other {
        float: left;
      }
      .content {
        width: 90%;
      }
      .other {
        text-align: right;
        width: 10%;
      }
    }
  }
  .post {
    margin: .8rem 0;
    .card-block {
      .content {
        .card-text {
          .text-muted {
            .created {
              margin: 0 .25rem;
              text-decoration: underline;
            }
          }
        }
      }
      .other {
        .index {
          color: red;
        }
      }
    }
  }
}