<div class="container-fluid">
  <div class="card thread" *ngIf="data.thread.name != '' ">
    <div class="card-block">
      <h3 class="card-title">{{data?.thread?.name}}</h3>
      <p class="card-text thread-description">{{data?.thread?.description}}</p>
      <button class="btn btn-primary" (click)="openReply(addPost)">Reply</button>
    </div>
  </div>
  <div class="card post" *ngFor="let item of data?.posts;trackBy:item.ref">
    <div class="card-block">
      <!--<h5 class="card-title">{{item?.title}}</h5>-->
      <p class="card-text author text-primary" title="{{item?.author}}" placement="top" [ngbTooltip]="item?.author">{{item?.author}}</p>
      <p class="card-text" [innerHTML]="item?.body | safeHtml"></p>
      <p class="card-text"><small class="text-muted">{{item?.created / 1000000 | date:'yMMMdjms'}}</small></p>
    </div>
  </div>
</div>
<!--<div class="loading"></div>-->

<ng-template #addPost let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="postForm" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control " placeholder="title" id="title" formControlName="title">
      </div>
      <!--<div [froalaEditor]="editorOptions"></div>-->
      <div class="form-group">
        <label for="body">Content</label>
        <textarea [froalaEditor]="editorOptions" formControlName="body"></textarea>
        <!--<textarea class="form-control" rows="3" id="body" formControlName="body"></textarea>-->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-primary" (click)="c(true)">submit</button>
  </div>
</ng-template>
