<div class="container-fluid">
  <!--<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">{{data?.board?.name}}</a>
    <span class="breadcrumb-item active">{{data?.thread?.name}}</span>
  </nav>-->
  <div class="card thread border-top-0 border-left-0 border-right-0" *ngIf="data?.thread?.name != '' ">
    <div class="card-block">
      <div class="content">
        <h4 class="card-title">{{data?.thread?.name}}</h4>
        <p class="card-text thread-description text-muted">{{data?.thread?.description}}</p>
      </div>
      <div class="other">
        <small class="text-muted"><i class="fa fa-users"></i><span>{{data?.posts?.length}}</span></small>
      </div>
    </div>
    <div class="card-block">
      <p class="d-flex justify-content-end"><button class="btn btn-sm btn-primary" (click)="openReply(addPost)"><i class="fa fa-reply"></i>Reply</button></p>
    </div>
  </div>
  
  <div class="card post border-top-0 border-left-0 border-right-0" *ngFor="let item of (data?.posts | orderBy:sort);let i = index;trackBy: item?.ref">
    <div class="card-block">
      <div class="content">
        <h6 class="card-text">{{item?.title}}</h6>
        <p class="card-text text-primary" title="{{item?.author}}" placement="top" ><small class="author" [ngbTooltip]="item?.author">{{item?.author}}</small></p>
        <p class="card-text text-muted" [innerHTML]="item?.body | safeHtml"></p>
        <p class="card-text"><small class="text-muted">Posted:<span class="created">{{item?.created / 1000000 | date:'yMMMdjms'}}</span></small></p>
      </div>
      <div class="other">
        <small class="card-text text-muted index">#{{i+1}}</small>
      </div>
    </div>
  </div>
</div>
<!--<div class="loading"></div>-->

<ng-template #addPost let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="postForm" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control " placeholder="title" id="title" formControlName="title">
      </div>
      <!--<div [froalaEditor]="editorOptions"></div>-->
      <div class="form-group">
        <label for="body">Content</label>
        <textarea [froalaEditor]="editorOptions" formControlName="body"></textarea>
        <!--<textarea class="form-control" rows="3" id="body" formControlName="body"></textarea>-->
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-primary" (click)="c(true)">submit</button>
  </div>
</ng-template>
