app-threadpage {
  .thread {
    .thread-description {
      display: block;
      word-break: break-all;
    }
  }
  .card {
    .card-block {
      .content,
      .other {
        float: left;
      }
      .content {
        width: 90%;
      }
      .other {
        text-align: right;
        width: 10%;
      }
    }
  }
  .post {
    margin: .8rem 0;
    .card-block {
      .content {
        .card-text {
          .text-muted {
            .created {
              margin: 0 .25rem;
              text-decoration: underline;
            }
          }
        }
        .author {
          display: inline-block;
          max-width: 20rem;
          cursor: pointer;
          text-decoration: underline;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .other {
        .index {
          color: red;
        }
      }
    }
  }
}