threadPage {
  width: 100%;
}

.thread {
  /*width: 20rem;*/
}

.thread .thread-description {
  word-break: break-all;
}

.thread .btn {
  float: right;
  cursor: pointer;
}

.post {
  /*max-width: 50%;*/
  margin: .8rem 0;
  /*background-color: #e5ecfd;*/
}

.post .author {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
