app-threadpage {
  .fr-emoticon-img {
    display: inline-block;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    min-width: 20px;
    min-height: 20px;
  }
  .post-box {
    margin-bottom: 5rem;
  }
  .card {
    .other-block {
      display: flex;
      padding: 0 1.25rem;
      .img-box {
        display: inline-block;
      }
      .img-box {
        outline: 0;
        text-decoration: none;
        margin-right: 1rem;
        .author {
          width: 60px;
          height: 60px;
          background-image: url("../../assets/user-thumbnail.png");
          background-size: 100% 100%;
        }
      }
      .info-box {
        display: inline-flex;
        flex-direction: column;
        align-self: center;
        small {
          display: block;
        }
        .replies {
          color: red;
        }
        .author-name {
          color: #636363;
          max-width: 6rem;
        }
      }
    }
    .card-block {
      .thread-vote-box {
        .vote-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 2em;
          width: 80px;
          height: 80px;
          background-color: #bbd9f3;
          box-shadow: 0 0.3rem 0.4rem hsla(0, 0%, 0%, 0.3);
          border-radius: 50%;
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: #e0ebf5;
          }
          .fa {
            font-size: 2em;
          }
        }
      }
      .content {
        .title-box {
          width: 100%;
          .title,
          .index {
            float: left;
          }
          .title {
            width: 80%;
          }
          small {
            display: inline-block;
            width: 20%;
            text-align: right;
          }
        }
        .card-text {
          clear: both;
          .time-box,
          .vote-box {
            display: inline-block;
          }
          .vote-box {
            float: right;
            span {
              color: blue;
              cursor: pointer;
              &:hover {
                color: #b16816;
              }
            }
          }
        }
      }
    }
  }
  .post {
    margin: .8rem 0;
    .card-block {
      .content {
        .author-box {
          display: flex;
          .action-box {
            position: relative;
            cursor: pointer;
            &:hover {
              color: red;
            }
            .overlay {
              position: fixed;
              top: -70px;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: transparent;
            }
            .author-menu {
              position: absolute;
              display: block;
              top: 90%;
              left: -70%;
              min-width: auto;
            }
          }
          .post-author {
            position: relative;
            display: inline-block;
            width: 10rem;
          }
        }
        .card-text {
          .text-muted {
            .created {
              margin: 0 .25rem;
              text-decoration: underline;
            }
          }
        }
      }
      .other {
        .index {
          color: red;
        }
      }
    }
  }
}