<div class="container">
  <div class="card thread border-top-0 border-left-0 border-right-0" *ngIf="data?.data?.thread?.name != '' " [@flyInOut]>

    <div class="content-box">
      <div class="other-block">
        <a href="javascript:void(0)" class="img-box">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </a>
        <div class="info-box">
          <small class="single-line author-name " title="{{data?.data?.thread?.creator}}">{{data?.data?.thread?.creator}}</small>
          <small class="text-muted">
          replies
          <span class="replies">{{data?.data?.thread?.post_count}}</span> &nbsp;• &nbsp;
          created &nbsp;<span>{{data?.data?.thread?.created / 1000000 | date:'yMMMdjms'}}</span>
        </small>
        </div>
      </div>
      <hr>
      <div class="card-block">
        <div class="content">
          <div class="title-box">
            <h4 class="card-title single-line title">{{data?.data?.thread?.name}}</h4>
          </div>
          <p class="card-text break-line text-muted body">{{data?.data?.thread?.body}}</p>
        </div>
      </div>
      <div class="card-block">
        <p class="text-right p-0">
          <chip color="#e84737" text="like" [count]="data?.data?.thread?.votes?.up_votes?.count" (click)="addThreadVote('1',$event)"></chip>
          <chip color="#756e6e" text="dislike" [count]="data?.data?.thread?.votes?.down_votes?.count" (click)="addThreadVote('-1',$event)"></chip>
        </p>
      </div>
    </div>
  </div>
  <a class="noPosts text-center" href="javascropt:void(0);" *ngIf="data?.data?.posts?.length <= 0" (click)="openReply(addPost)">New Post<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
  <!--trackBy: item?.ref-->
  <!--(data.posts | orderBy:sort)-->
  <div class="post-box">
    <div class="card post border-top-0 border-left-0 border-right-0" *ngFor="let item of (data?.data?.posts | orderBy:sort);let i = index;trackBy:trackPosts"
      [@flyInOut]>
      <div class="content-box">
        <div class="card-block">
          <div class="content">
            <div class="title-box">
              <h6 class="card-text single-line title">{{item?.name}}&nbsp; &nbsp;<small class="text-muted time-box">replies:<span class="created">{{item?.created / 1000000 | date:'short'}}</span></small></h6>
              <small class="text-muted other">
                <i class="fa fa-chevron-down" aria-hidden="true" (click)="Menu($event,item)">
                  <ul class="vote-menu" *ngIf="item?.voteMenu">
                    <li (click)="addPostVote('+1',item,$event)">like</li>
                    <li (click)="addPostVote('-1',item,$event)">dislike</li>
                  </ul>
                </i>
              </small>
            </div>
            <div class="card-text author-box">
              <span>
                  <small class="single-line author">
                      {{item?.creator}}
                    </small>
                    <div class="user-info-menu" *ngIf="false">
                        <h6>{{item?.creator}}</h6>
                      </div>
              </span>

            </div>
            <p class="card-text text-muted break-line" [innerHTML]="item?.body | safeHtml"></p>
            <div class="card-block" *ngIf="item?.votes?.up_votes?.count || item?.votes?.down_votes?.count">
              <p class="text-right p-0">
                <chip color="#e84737" text="like" [count]="item?.votes?.up_votes?.count" (click)="addPostVote('+1',item,$event)"></chip>
                <chip color="#756e6e" text="dislike" [count]="item?.votes?.down_votes?.count" (click)="addPostVote('-1',item,$event)"></chip>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #fab>
  <fab>
    <fa-button name="New Post" icon="fa-pencil" (click)="openReply(addPost)"></fa-button>
  </fab>
</ng-template>
<ng-template #addPost let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="postForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control " placeholder="name" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="body">Content</label>
        <textarea [froalaEditor]="editorOptions" formControlName="body"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-primary" (click)="c(true)">submit</button>
  </div>
</ng-template>
