<div class="container">
  <div class="card thread border-top-0 border-left-0 border-right-0" *ngIf="data?.data?.thread?.name != '' " [@flyInOut]>

    <div class="content-box">
      <div class="other-block">
        <a href="javascript:void(0)" class="img-box">
            <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        </a>
        <div class="info-box">
          <a href="javascript:void(0);" class="author-name tooltip-normal" [attr.aria-label]="data?.data?.thread?.creator">{{data?.data?.thread?.creator | cutText}}</a>
          <small class="text-muted">
          replies
          <span class="replies">{{data?.data?.thread?.post_count}}</span> &nbsp;• &nbsp;
          created &nbsp;<span>{{data?.data?.thread?.created / 1000000 | date:'M/d/y H:mm'}}</span>
        </small>
        </div>
      </div>
      <hr>
      <div class="card-block">
        <div class="content">
          <h5 class="post-or-thread-title">{{data?.data?.thread?.name}}</h5>
          <p class="break-line text-muted body">{{data?.data?.thread?.body}}</p>
        </div>
      </div>
      <div class="card-block">
        <chip color="#e84737" icon="fa-sort-asc" text="up vote" [count]="data?.data?.thread?.votes?.up_votes?.count" (click)="addThreadVote('1',$event)"></chip>
        <chip color="#756e6e" icon="fa-sort-desc" text="down vote" [count]="data?.data?.thread?.votes?.down_votes?.count" (click)="addThreadVote('-1',$event)"></chip>
      </div>
    </div>
  </div>
  <a class="noPosts text-center" href="javascript:void(0);" *ngIf="data?.data?.posts?.length <= 0" (click)="openReply(addPost)">New Post<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>

  <div class="post-box">
    <div #post class="card post border-top-0 border-left-0 border-right-0" *ngFor="let item of (data?.data?.posts | orderBy:sort);let i = index;trackBy:trackPosts"
      [@flyInOut]>
      <div class="content-box">
        <div class="card-block">
          <div class="content">
            <div class="row post-title-box">
              <div class="col-10 title-content-box">
                <a href="javascript:void(0);" class="creator tooltip-normal" [attr.aria-label]="item?.creator">{{item?.creator | cutText}}</a>
                <small class="time">{{item?.created / 1000000 | date:'M/d/y H:mm'}}</small>
                <!-- <div class="overlay" *ngIf="item?.creatorMenu" (click)="showUserMenu(item,$event)"></div>
                <div class="card user-info-menu" *ngIf="item?.creatorMenu">
                    <div class="card-body">
                        <h6 class="card-title">{{item?.creator}}</h6>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" (click)="addUserVote($event,item,'+1')">Follow</button>
                        </div>
                    </div>
                </div> -->
              </div>
              <div class="col text-right other">
                <i class="fa fa-chevron-down" aria-hidden="true" (click)="Menu($event,item)">
                          <div class="overlay" *ngIf="item?.voteMenu" (click)="Menu($event,item)"></div>
                          <ul class="vote-menu" *ngIf="item?.voteMenu">
                            <li (click)="addPostVote('+1',item,$event)"><i class="fa fa-sort-asc" aria-hidden="true"></i>                up vote</li>
                <li (click)="addPostVote('-1',item,$event)"><i class="fa fa-sort-desc" aria-hidden="true"></i> down vote</li>
                </ul>
                </i>
              </div>
            </div>
            <h6 class="post-or-thread-title tooltip-normal" [attr.aria-label]="item?.name">{{item?.name}}</h6>
            <p class="text-muted break-line" [innerHTML]="item?.body | safeHtml"></p>
            <div class="card-block" *ngIf="item?.votes?.up_votes?.count || item?.votes?.down_votes?.count">
              <chip color="#e84737" icon="fa-sort-asc" text="up vote" [count]="item?.votes?.up_votes?.count" (click)="addPostVote('+1',item,$event)"></chip>
              <chip color="#756e6e" icon="fa-sort-desc" text="down vote" [count]="item?.votes?.down_votes?.count" (click)="addPostVote('-1',item,$event)"></chip>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #fab>
  <fab>
    <fa-button name="New Post" icon="fa-pencil" (click)="openReply(addPost)"></fa-button>
  </fab>
</ng-template>
<ng-template #addPost let-c="close">
  <div class="pop-dialog pop-dialog-lg" [@bounceIn]>
    <div class="modal-header">
      <h4 class="modal-title">New Post</h4>
      <button type="button" class="close" aria-label="Close" (click)="c(false)">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="postForm" novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control " placeholder="name" id="name" formControlName="name">
        </div>
        <div class="editor" editor formControlName="body"></div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
      <button type="button" class="btn btn-primary" (click)="c(true)">submit</button>
    </div>
  </div>
</ng-template>
