<div class="container">
  <div class="card thread border-top-0 border-left-0 border-right-0" *ngIf="data?.thread?.name != '' ">
    <div class="vote-box">
      <div (click)="addThreadVote(1,data.thread,$event)" class="vote-btn">
        <span>{{data?.thread?.votes?.up_votes}}</span>
        <span><i class="fa fa-caret-up  fa-2x"></i></span>
      </div>
      <div (click)="addThreadVote(-1,data.thread,$event)" class="vote-btn">
        <span><i class="fa fa-caret-down fa-2x"></i></span>
        <span>{{data?.thread?.votes?.down_votes}}</span>
      </div>
    </div>
    <div class="content-box">
      <div class="other-block">
        <a href="javascript:void(0)" class="img-box">
          <div class="author" title="user"></div>
        </a>
        <div class="info-box">
          <small class="single-line author-name " title="{{data?.thread?.author}}">{{data?.thread?.author}}</small>
          <small class="text-muted">
          replies
          <span class="replies">{{data?.posts?.length}}</span> &nbsp;• &nbsp;
          created &nbsp;<span>{{data?.thread?.created / 1000000 | date:'yMMMdjms'}}</span>
        </small>
        </div>
      </div>
      <div class="card-block">
        <div class="content">
          <div class="title-box">
            <h4 class="card-title single-line title">{{data?.thread?.name}}</h4>
          </div>
          <p class="card-text break-line text-muted">{{data?.thread?.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-muted text-center" *ngIf="data?.posts?.length <= 0">Add the first <a href="javascript:void(0);" (click)="openReply(addPost)"><i class="fa fa-reply"></i>post</a></p>
  <!--trackBy: item?.ref-->
  <!--(data.posts | orderBy:sort)-->
  <div class="post-box">
    <div class="card post border-top-0 border-left-0 border-right-0" *ngFor="let item of (data.posts | orderBy:sort);let i = index;">
      <div class="vote-box">
        <div (click)="addPostVote(1,item,$event)" class="vote-btn">
          <span>{{item?.votes?.up_votes}}</span>
          <span><i class="fa fa-caret-up  fa-2x"></i></span>
        </div>
        <div (click)="addPostVote(-1,item,$event)" class="vote-btn">
          <span><i class="fa fa-caret-down fa-2x"></i></span>
          <span>{{item?.votes?.down_votes}}</span>
        </div>
      </div>
      <div class="content-box">
        <div class="card-block">
          <div class="content">
            <div class="title-box">
              <h6 class="card-text single-line title">{{item?.title}}</h6>
              <small class="text-muted index">#{{i+1}}</small>
            </div>
            <p class="card-text text-primary author-box"  placement="top">
              <small class="single-line post-author" title="{{item?.author}}" [ngbTooltip]="item?.author">{{item?.author}}</small>
              <small class="action-box">
              <i class="fa fa-caret-down fa-2x" (click)="PostAuthorMenu(item,$event)"></i>
              <div class="overlay" *ngIf="item?.uiOptions?.menu" (click)="PostAuthorMenu(item,$event)"></div>
              <div class="dropdown-menu author-menu" *ngIf="item?.uiOptions?.menu">
                <a class="dropdown-item" href="javascript:void(0);" (click)="addUserVote(1,item,$event)">Up<i class="fa fa-caret-up"></i></a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="addUserVote(1,item,$event)">Down<i class="fa fa-caret-down"></i></a>
              </div>
            </small>
            </p>
            <p class="card-text text-muted break-line" [innerHTML]="item?.body | safeHtml"></p>
            <div class="card-text">
              <small class="text-muted time-box">Posted:<span class="created">{{item?.created / 1000000 | date:'yMMMdjms'}}</span></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="loading"></div>-->

<ng-template #addPost let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="postForm" novalidate>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control " placeholder="title" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="body">Content</label>
        <textarea [froalaEditor]="editorOptions" formControlName="body"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c(false)">cancel</button>
    <button type="button" class="btn btn-primary" (click)="c(true)">submit</button>
  </div>
</ng-template>
