app-threadpage {
  .fr-emoticon-img {
    display: inline-block;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    min-width: 20px;
    min-height: 20px;
  }
  .thread {}
  .post-box {
    margin-bottom: 5rem;
  }
  .card {
    flex-direction: row;
    .vote-box {
      width: 5%;
      text-align: center;
      color: #999;
      .vote-btn {
        cursor: pointer;
        &:hover {
          color: #000;
        }
        span {
          display: block;
        }
      }
    }
    .content-box {
      width: 100%; // width: 95%;
      padding: 1rem;
      .other-block {
        display: flex;
        .img-box {
          display: inline-block;
        }
        .img-box {
          outline: 0;
          text-decoration: none;
          margin-right: 1rem;
        }
        .info-box {
          display: inline-flex;
          flex-direction: column;
          align-self: center;
          small {
            display: block;
          }
          .replies {
            color: red;
          }
          .author-name {
            color: #636363;
            max-width: 6rem;
          }
        }
      }
    }
    .card-block {
      .content {
        .body {
          padding-right: 1rem;
        }
        .title-box {
          width: 100%;
          .title,
          .index {
            float: left;
          }
          .title {
            width: 80%;
          }
          small {
            display: inline-block;
            width: 20%;
            text-align: right;
          }
        }
        .card-text {
          clear: both;
          .time-box,
          .vote-box {
            display: inline-block;
          }
          .vote-box {
            float: right;
            span {
              color: blue;
              cursor: pointer;
              &:hover {
                color: #b16816;
              }
            }
          }
        }
      }
    }
  }
  .noPosts {
    &:focus {
      outline: none;
    }
    font-size: 1.5rem;
    outline: none;
    display: block;
    color: #fff;
    text-decoration: underline;
  }
  .post {
    margin: .8rem 0;
    .card-block {
      .content {
        .title-box {
          width: 100%;
          .title,
          .other {
            float: left;
          }
          .title {
            width: 80%;
          }
          .other {
            display: inline-block;
            width: 20%;
            text-align: right;
            .fa {
              cursor: pointer;
              position: relative;
              user-select: none;
              .vote-menu {
                position: absolute;
                right: -100%;
                top: 150%;
                font-size: 1rem;
                list-style: none;
                margin: 0;
                padding: 0;
                user-select: none;
                box-sizing: border-box;
                text-align: left;
                background-color: #fff;
                border-radius: .25rem;
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
                z-index: 99;
                li {
                  padding: .5rem 1rem;
                  &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                  }
                }
              }
            }
          }
        }
        p {
          margin: 0;
        }
        .author-box {
          .author {
            display: inline-block;
            width: 10rem;
          }
          span {
            position: relative;
            .user-info-menu {
              position: absolute;
              top: 150%;
              background-color: #ccc;
            }
          }
        }
        .card-text {
          .text-muted {
            .created {
              margin: 0 .25rem;
              text-decoration: underline;
            }
          }
        }
      }
      .other {
        .index {
          color: red;
        }
      }
    }
  }
}
