/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import './common.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding-top: 70px;
  background: url('./assets/nodes.svg') center center / cover, linear-gradient(-35deg, #00d2ff, #5895e8);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.p-0 {
  margin: 0;
  padding: 0;
  p {
    margin: 0;
    padding: 0;
  }
}

.input-box {
  padding: .5rem 1rem;
  .fa-refresh {
    cursor: pointer;
    margin-top: 1rem;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.input-border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  transition: all .5s;
  &:focus {
    border-bottom-color: blue;
  }
}

.text-input {
  padding: .25rem .5rem;
  border-radius: .25rem;
  box-shadow: none;
  border: 1px solid #EDEDED;
  outline: none;
  &::-webkit-input-placeholder {
    color: #ededed
  }
  &::-moz-placeholder {
    color: #ededed;
  }
  &:disabled {
    background-color: #EDEDED;
    color: #d0d0d0;
  }
}

button[class="button"] {
  border: 1px solid rgba(204, 204, 204, 0.47);
  border-radius: .25rem;
  padding-bottom: 0.25rem 0.5rem;
  user-select: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

hr {
  margin: .5rem 0;
}

i {
  margin-left: 5px;
}

.not-found {
  font-size: 2rem;
  color: hsla(0, 0%, 100%, 0.4);
  text-align: center;
  margin: 5rem 0;
  .hint-text {
    text-decoration: underline;
    font-style: italic;
  }
}

.btn {
  cursor: pointer;
  i {
    margin-right: .5rem;
  }
}

.underline {
  text-decoration: underline;
}

.table_fixed {
  table-layout: fixed;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-line {
  word-break: break-all;
}

.margin-0 {
  margin: 0;
}

table {
  thead {
    th {
      color: #b3b3b3;
      border-bottom: 2px solid #d8d8d8 !important;
    }
    .more {
      text-align: center;
    }
  }
  tbody {
    .more {
      text-align: center;
    }
  }
  td,
  th {
    border-top: none !important;
    border-bottom: 1px solid #eceeef;
  }
}

$tableHover-color: hsla(235,
100%,
74%,
0.075);
// Table Hover
.table-hover {
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: $tableHover-color;
      }
    }
  }
}

// Font Icon
.fa {
  margin-right: 5px;
}

.fa-star {
  color: #ffb700;
}

.fa-exchange {
  color: #486b4b;
}

.pop-dialog {
  border-radius: .25rem;
  background-color: #fff;
}

.pop-dialog-lg {
  @media (min-width: 572px) {
    max-width: 50rem !important;
  }
}

.pop-dialog {
  border-radius: .25rem;
  background-color: #fff;
  margin: 3rem auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  input[type="text"] {
    padding: .75rem 1rem;
    border-radius: 2rem;
    &:focus {
      border: 1px solid hsla(208, 98%, 68%, 0.5);
      box-shadow: 0.1rem 0.1rem 1rem hsla(208, 98%, 68%, 0.5);
    }
  }
  .btn {
    border-radius: 2rem;
    padding: .5rem 2rem;
    font-weight: bold;
    color: #fff;
  }
  @media (min-width: 572px) {
    max-width: 35rem;
  }
}

// Modal
.modal-content {
  border: none;
  background-color: transparent !important;
  .form-group {
    .form-control {
      border: 1px solid hsla(0, 0%, 80%, 0.45);
    }
    input[type="text"] {
      padding: .75rem 1rem;
      border-radius: 2rem;
      &:focus {
        border: 1px solid hsla(208, 98%, 68%, 0.5);
        box-shadow: 0.1rem 0.1rem 1rem hsla(208, 98%, 68%, 0.5);
      }
    }
  }
  .btn {
    border-radius: 2rem;
    padding: .5rem 2rem;
    font-weight: bold;
    color: #fff;
  }
}

// text-color
.text-blue-gray {
  color: #afbac1 !important;
}

@mixin multiLineEllipsis($lineHeight: 1.2em,
$lineCount: 1,
$bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);
}

.fa-sort-asc {
  transform: translateY(3px);
}

.fa-sort-desc {
  transform: translateY(-2px);
}

.tooltip-top[aria-label],
.tooltip-normal[aria-label] {
  position: relative;
  &:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    pointer-events: none;
    padding: .75rem 1rem;
    line-height: .75rem;
    white-space: nowrap;
    text-decoration: none;
    text-indent: 0;
    overflow: visible;
    font-size: .9em;
    font-weight: normal;
    color: #fff; // text-shadow: 1px 0 1px #888;
    background-color: rgba(27, 31, 35, 0.8);
    border-radius: 2px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: $tooltip-index;
  }

  &:hover:after,
  &:focus:after {
    display: block;
  }
}

.tooltip-top[aria-label] {
  &:after {
    bottom: 150%;
    right: -100%;
  }
}

.tooltip[aria-label] {
  &:after {
    top: 110%;
    left: 10%;
  }
}
