/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

html,body {
  height: 100%;
}

body {
  padding-top: 80px;
}

i {
  margin-left: 5px;
}
.not-found {
  text-align: center;
  margin: 1rem 0;
}
.loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 10%;
  height: 10%;
  background-image: url('./assets/loading.svg');
  background-size: 100% 100%;
}
.btn {
  cursor: pointer;
  i {
    margin-right: .5rem;
  }
}

.thread-item {
  padding: 1rem;
  background-color: hsl(240, 14%, 97%);
  border-radius: .25rem;
  font-weight: bold;
}
.thread-item span {
  font-size: .9rem;
  font-weight: normal;
}

app-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  // z-index: 20001;
  display: block;
  // background-color: hsla(0, 0%, 0%, 0.2);
}