.loading-content {
  width: 5rem;
  height: 5rem;
  margin: 22.5% auto;
  .inner {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-image: url("../../assets/loading.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .loading-text {
    text-align: center;
    font-weight: bold;
    .dotting {
      display: inline-block;
      width: 10px;
      min-height: 2px;
      border-left: 2px solid currentColor;
      border-right: 2px solid currentColor;
      background-color: currentColor;
      background-clip: content-box;
      box-sizing: border-box;
      margin-left: .2rem;
      padding-left: 2px;
      padding-right: 2px;
      animation: dot 3s infinite step-start both;
    }
  }
  @keyframes dot {
    25% {
      border-color: transparent;
      background-color: transparent;
    }
    50% {
      border-right-color: transparent;
      background-color: transparent;
    }
    75% {
      border-right-color: transparent;
    }
  }
}