[Unit]
Description=Skycoin Discovery Node
ConditionPathExists=/home/ubuntu/go/bin/discoverynode
After=network.target

[Service]
Type=simple
User=skycoin
Group=skycoin
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/go/bin/discoverynode --address=:8080

[Install]
WantedBy=multi-user.target